<script lang="ts">
	import { onMount } from 'svelte';
	import axios from 'axios';

	import * as THREE from 'three';
	import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader';
	import { OrbitControls } from 'three/examples/jsm/controls/OrbitControls.js';

	var container, stats, controls, mixer, clock;
	var camera, scene, renderer;

	function init() {
		const canvas = document.querySelector('#c');
  		// const renderer = new THREE.WebGLRenderer({canvas});
		// document.querySelector('#c');
		container = document.querySelector('main');
		// document.body.appendChild(container);

		camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.25, 1000);
		camera.position.set(10, 10, 10);

		scene = new THREE.Scene();

		clock = new THREE.Clock();

		var ambientLight = new THREE.AmbientLight(0xcccccc, 0.4);
		scene.add(ambientLight);

		var pointLight = new THREE.PointLight(0xffffff, 0.8);
		camera.add(pointLight);
		scene.add(camera);

		var loader = new GLTFLoader().setPath('monkey/');
		loader.load('scene.gltf', function (gltf) {
			gltf.scene.position.set(-80, -200, -100);
			mixer = new THREE.AnimationMixer(gltf.scene);
			var action = mixer.clipAction(gltf.animations[0]);
			action.play();
			
			scene.add(gltf.scene);
		});

		renderer = new THREE.WebGLRenderer({ antialias: true });
		renderer.setPixelRatio(window.devicePixelRatio);
		renderer.setSize(window.innerWidth, window.innerHeight);
		renderer.gammaOutput = true;
		container.appendChild(renderer.domElement);

		controls = new OrbitControls(camera, renderer.domElement);
		controls.target.set(0, -0.2, -0.2);
		controls.update();

		window.addEventListener('resize', onWindowResize, false);

		// stats
		// stats = new Stats();
		// container.appendChild(stats.dom);
	}

	function onWindowResize() {
		camera.aspect = window.innerWidth / window.innerHeight;
		camera.updateProjectionMatrix();

		renderer.setSize(window.innerWidth, window.innerHeight);
	}

	//

	function animate() {
		requestAnimationFrame(animate);

		var delta = clock.getDelta();

		if (mixer) mixer.update(delta);

		renderer.render(scene, camera);

		// stats.update();
	}

	onMount(async () => {
		// document.getElementById("mymusic").play();
		init();
		animate();
	});
</script>

<main>
	<!-- <canvas id="c" /> -->
</main>
<!-- <iframe src="music.mp3" allow="autoplay" style="display:none" id="iframeAudio">
</iframe> 

<audio id="player" autoplay loop>
    <source src="music.mp3" type="audio/mp3">
</audio> -->
<!-- <audio src="/music.mp3" id="mymusic" autoplay>
</audio> -->

<style>
	#c {
		width: 100%;
		height: 100%;
		display: block;
	}

	main {
		text-align: center;
		width: 100vh;
		height: 100%;
		/* padding: 1em; */
		/* max-width: 240px; */
		margin: 0 0;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
